#logo {
	float: left;
	padding-top: 25px;
}

#nav-bar{
	float: right;
	padding-top: 70px;
}

li {
	display: inline;
	font-size: 25px;
	padding-right: 10px;
}

#anvil {
	padding-top: 15px;
	padding-bottom: 25px;
}

@media (max-width: 950px) {

	#logo {
		float: left;
		padding-top: 25px;
	}

	#nav-bar{
		float: right;
		padding-top: 70px;
	}

	li {
		display: inline;
		font-size: 25px;
		padding-right: 10px;
	}

	#anvil {
		padding-top: 15px;
		padding-bottom: 25px;
		width: 700px;
	}

		}

@media (max-width: 750px) {

	#logo {
		float: left;
		padding-top: 25px;
	}

	#nav-bar{
		float: right;
		padding-top: 70px;
	}

	li {
		display: inline;
		font-size: 25px;
		padding-right: 10px;
	}

	#anvil {
		padding-top: 15px;
		padding-bottom: 25px;
		width: 650px;
	}

		}


@media (max-width: 550px) {

	#logo {
		float: left;
		padding-top: 15px;
	}

	#nav-bar{
		float: right;
		padding-top: 10px;
	}

	li {
		display: inline;
		font-size: 25px;
		padding-right: 5px;
	}

	#anvil {
		padding-top: 5px;
		padding-bottom: 15px;
		width: 490px;
	}

		}


@media (max-width: 400px) {

	#logo {
		float: left;
		padding-top: 25px;
	}

	#nav-bar{
		float: left;
		padding-top: 0px;
	}

	li {
		display: inline;
		font-size: 25px;
		padding-right: 10px;
	}

	#anvil {
		display: none;
	}

		}